@font-face {
	font-family: Srisakdi;
	src: url(../fonts/Srisakdi/Srisakdi-Bold.ttf);
	font-stretch: normal;
}

@font-face {
	font-family: newfont;
	src: url(../fonts/Pacifico/Pacific.ttf);
	font-stretch: normal;
}
@font-face {
	font-family: Mali-BoldItalic;
	src: url(../fonts/Mali/Mali-BoldItalic.ttf);
	font-stretch: normal;
}
#LoginForm{ 
	background-image:url("../background.jpg"); 
	background-repeat:no-repeat; 
	background-size:cover; 
}

.panel p{ 
	color: #dd7254; 
	font-size:25px; 
	margin:-10px 0 20px 0;
	font-family: newfont;
}

.icon-fafa{
	margin: 5px 0 15px 0;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #afa6a3;
  border-radius: 40px;
  font-size: 14px;
  height: 50px;
  line-height: 20px;
  font-family: Mali-BoldItalic;
}
.main-div {
  background: #f4f0eb none repeat scroll 0 0;
  border-radius: 2px;
  margin: 130px auto 50px;
  max-width: 40%;
  padding: 10px 60px 60px 60px;
}

.login-form .form-group {
  margin-bottom:12px;
}
.login-form{ text-align:center; }

.login-form  .btn.btn-primary {
  background: #5b88cc none repeat scroll 0 0;
  border-color: #0a2a5b;
  color: #ffffff;
  font-size: 20px;
  font-family: Mali-BoldItalic;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  border-radius: 40px;
}


