#Home_page{ 
	background-image:url("../background.jpg"); 
	background-repeat:no-repeat; 
	background-size:cover; 
}

@font-face {
	font-family: newfont;
	src: url(../fonts/Pacifico/Pacific.ttf);
	font-stretch: normal;
}	

.navbar-text { position: relative; z-index: 2; font-family: newfont; font-size: 20px; }

.navbar-header {position: relative; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 15px 60px 10px 10px ; }

.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 10px; }

.navbar-nav.navbar-right .btn {
    background-color: rgb(1, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.form-row { background-color: #ffffff; }

.form-row .btn.btn-primary { font-family: newfont; font-size: 20px; }
/*.container { background-color: #ffffff; }
